In [4]:
import ccm_db_api as api
import os
import requests
import json
from pandas.io.json import json_normalize

In [17]:
key = '649de2c46ac74c20b2ba2708f4364c98'
bd = api.Borsdata(key)

df_ins = bd.instruments()

c:\Users\Max Johansson\Files\python_projects\ccm-utils\ccm_db_api\Borsdata.py:25: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  return json_normalize(content['instruments'])

In [18]:
ins_id = df_ins['insId'][0]

In [22]:
bd.prices_last()

c:\Users\Max Johansson\Files\python_projects\ccm-utils\ccm_db_api\Borsdata.py:83: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  return json_normalize(content['stockPricesList'])

         i           d        h        l        c        o          v
0        2  2022-10-13  146.150  140.850  144.400  146.000   283430.0
1        3  2022-10-13  290.500  278.900  289.000  282.900  1124076.0
2        6  2022-10-13    0.885    0.861    0.861    0.885   294608.0
3        7  2022-10-13   82.400   76.600   80.800   80.900   217376.0
4        8  2022-10-13  130.200  121.200  130.100  128.700   726392.0
...    ...         ...      ...      ...      ...      ...        ...
1910  2438  2022-10-13  109.200  107.000  109.000  107.000    33482.0
1911  2439  2022-10-13  126.000  124.000  126.000  124.000    28380.0
1912  2440  2022-10-13  235.000  230.000  230.000  235.000       95.0
1913  2441  2022-10-13  235.400  212.500  235.400  212.500    50062.0
1914  2442  2022-10-13   41.000   40.105   40.995   40.130    32403.0

[1915 rows x 7 columns]